# Python virtual environment
venv/
__pycache__/
*.pyc

# Environment variables
.env

# Node modules
node_modules/

# Flutter build artifacts
flutter_app/build/
flutter_app/.dart_tool/
flutter_app/.packages
flutter_app/pubspec.lock

# IDE/editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
