# services:
#   - type: web
#     name: call-manager-pro-backend
#     env: python
#     plan: free
#     rootDir: backend
#     buildCommand: pip install -r requirements.txt
#     startCommand: gunicorn wsgi:app
#     envVars:
#       - key: SECRET_KEY
#         generateValue: true
#       - key: JWT_SECRET_KEY
#         generateValue: true
#       - key: DATABASE_URL
#         fromDatabase:
#           name: call_manager_db
#           property: connectionString

# databases:
#   - name: call_manager_db
#     plan: free


services:
  - type: web
    name: call-manager-pro
    env: python
    plan: free
    buildCommand: chmod +x build.sh && ./build.sh
    startCommand: gunicorn wsgi:app
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: JWT_SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: call_manager_db
          property: connectionString

databases:
  - name: call_manager_db
    plan: free
